* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    outline: none;
    text-decoration: none;
}

.auto {
    margin-left: auto;
    margin-right: auto;
}

body {
    width: 1201px;
}

header {
    background: #112342;
}

header div.headline {
    position: relative;
    height: 0px;
    top: 50px;
}

header div.headline p {
    text-align: center;
    font-family: STHeitiSC-Medium;
    color: #FFFFFF;
    letter-spacing: 0;
}

header ul {
    height: 70px;
    background: #EFF0F3;
}

header ul li {
    float: left;
    line-height: 70px;
    margin-left: 75px;
}

header ul li a {
    background-image: url(../imgs/Rectangle%205.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding: 0px 20px;
    font-family: STHeitiSC-Light;
    font-size: 17px;
    color: black;
    letter-spacing: 0;
}

header ul li a.selected {
    background-image: url(../imgs/Rectangle%206.png);
    background-repeat: no-repeat;
    background-position: 0px 3px;
    padding: 0px 20px;
    font-family: STHeitiSC-Light;
    font-size: 17px;
    color: black;
    letter-spacing: 0;
}

div.awards {
    padding: 40px 0px 0px 30.2px;
    width: 234px;
}

.awards_title {
    font-family: STHeitiSC-Light;
    font-size: 17px;
    color: #4A4A4A;
}

.awards_more {
    padding: 0px 0px 0px 35px;
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #4A90E2;
}

.awards_year {
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #434343;
    letter-spacing: 0;
}

.awards_text {
    font-family: STHeitiSC-Light;
    font-size: 14px;
    color: #428BCA;
    text-align: justify;
}

.column {
    float: left;
}

.about {
    padding: 42px 0px 0px 29.5px;
    width: 540px;
}

.about_title {
    font-family: STHeitiSC-Light;
    font-size: 17px;
    color: #434343;
}

.about_more {
    padding: 0px 0px 0px 403px;
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #4A90E2;
}

div.about div p {
    font-family: STHeitiSC-Medium;
    font-size: 17px;
    color: #434343;
    line-height: 20px;
}

.about ul {
    margin: 15px 0px;
}

.about li {
    font-family: STHeitiSC-Light;
    font-size: 14px;
    color: #000000;
    text-align: left;
    line-height: 18px;
}

.biography {
    font-family: STHeitiSC-Light;
    font-size: 14px;
    color: #000000;
    text-align: left;
    line-height: 18px;
}

.container_mid {
    width: 543px;
    overflow: hidden;
    margin-top: 15px;
}

.summary {
    padding: 10px 0px 0px 29.5px;
    width: 540px;
}

.summary_title {
    font-family: STHeitiSC-Light;
    font-size: 17px;
    color: #4A4A4A;
}

.summary_more {
    padding: 0px 0px 0px 250px;
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #4A90E2;
}

.summary li {
    background: rgba(189, 188, 188, 0.21);
    font-family: STHeitiSC-Light;
    font-size: 14px;
    color: #000000;
    line-height: 25px;
    margin: 5px 0px;
    padding: 10px 5px;
}

.summary li > a {
    color: #77a6dd;
}

.teaching {
    margin: 43px 0px 0px 30.6px;
    width: 320px;
}

.teaching_title {
    font-family: STHeitiSC-Light;
    font-size: 17px;
    color: #434343;
}

.teaching_more {
    padding: 0px 0px 0px 96px;
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #4A90E2;
}

.demo {
    padding: 10px 0px 0px 30.6px;
    width: 320px;
}

.demo_title {
    font-family: STHeitiSC-Light;
    font-size: 17px;
    color: #434343;
}

.demo_more {
    padding: 0px 0px 0px 212px;
    font-family: HelveticaNeue;
    font-size: 20px;
    color: #4A90E2;
}

.title_underline {
    padding-bottom: 9px;
    border-bottom: 2.1px solid #4A90E2;
}

.award_line {
    height:2px;
    width: 200px;
    border:0;
    border-top:2px solid #D8D8D8;
}

.course_name {
    font-family: STHeitiSC-Medium;
    font-size: 14px;
    color: #434343;
    letter-spacing: 0;
    text-align: center;
}

.course_text {
    font-family: STHeitiSC-Light;
    font-size: 14px;
    color: #434343;
    letter-spacing: 0;
    text-align: justify;
    line-height: 15px;
}

.demo_content {
    font-family: STHeitiSC-Light;
    font-size: 14px;
    color: #646B64;
    letter-spacing: 0;
}

.img_malign {
    vertical-align: middle;
}
